*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
} 
html , body{
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.main{
    height:95%;
    width: 90%;
    background-color: bisque;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.825);
    overflow: hidden;
  
}
#paneltop{
    width: 100%;
    height: 11%;
    background: linear-gradient(to right, #1d232a, #3a424b);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(10px);  /* this is for glassyy effect */
}
#update{
    display: flex;
    border-radius: 12px;
    padding: 25px;
    height: 70%;
    width: 15vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:1.6vw; 
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
   
}
#hit,#timer,#score{
   
padding:12px ;
border-radius: 40%;
color: rgb(253, 253, 253);
font-size: 1.8vw;

}
#timer{
    color: rgb(0, 185, 0);
}
#panelbottom{
    display: flex;
    background-color: rgb(10, 10, 10);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background: linear-gradient(to right, #131f2d, #081122); 
 
}
#bubble{
    margin:.8vw;
    padding: 1.7vw;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1vw;
    background: linear-gradient(to right, #310b4c, #c31432);
    transition: all 3s ease;
    
}
#bubble:hover{
    background-color: black;
    cursor: pointer;
    box-shadow: .05rem .05rem rgb(0, 255, 38);
    background: linear-gradient(to right, #2a0845, #6441A5); 
        color: white;
        transition: all 3s ease;

}
#resultdisplay{

    width: 100%;
    height:23vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        }
#result{
    color: white;
    background-color: inherit; 
}
.playagainbtn{
margin: 4vw;
width: 8vw;
color: rgba(3, 212, 3, 0.878);
}
button{
    font-size: 1vw;
    width: 6vw;
    padding: 17px;
    background: linear-gradient(to right, #6f0000, #200122); 
    color: rgb(139, 139, 139);
    border: 1px solid gray;
    border-radius: 15px;
    font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
transition: all ease; 

}
button:hover{
    background: linear-gradient(to right, #6d0000, #3f0043); 
    cursor: pointer;
    color: rgb(165, 165, 165);
}

@media(max-width:600px){
    #paneltop{
        height:7%;
    }


    #update{
        height: 100%;
        flex-direction: column;
        padding:10px;
        font-size: 13px;
        padding: 5px 0px;
        gap: 0px;
        width: 25%;

    }
    #update p{
        margin-top: 15px;
    }
    #hit,#timer,#score{
        font-size: 14px;
        margin-bottom: 5px;
    }
    button{
        width: 6vh;
        font-size: .7vh;
    }
    .modebtn{
height: 80%;
width: 9vh;
font-weight: bold;
font-size: 1.4vh;

    }
    #bubble{
        margin:1.4vw;
        padding: 2.392vh;
        font-size: 1.3vh;
        box-shadow:none;
    }
    #bubble:hover{
        
        cursor: pointer;
        background-image:linear-gradient( rgba(204, 0, 0, 0.545));
        color: white; 
    }
    #resultdisplay{
        height:23vh;
        justify-content: space-evenly;
      
            }
    #result{
        color: white;
        background-color: inherit; 
        text-align: center;
        font-size: 4vh;
    }
    .playagainbtn{
    margin: 4vw;
    width: 18vh;
    font-size: 1.7vh;
    font-weight: bold;
    }
}


