*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    background-color: rgb(0, 0, 0);
} 
html , body{
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.main{
    height:95%;
    width: 90%;
    background-color: bisque;
    border-radius: 10px;
    border: 1px solid rgb(255, 174, 0);
    box-shadow: .5px .5px 5px gainsboro;

    overflow: hidden;
}
#paneltop{
    width: 100%;
    height: 11%;
    background-color:rgb(69, 90, 194);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid rgb(172, 24, 24);
}
#update{
    display: flex;
    border-radius: 12px;
    padding: 25px;
    height: 70%;
    width: 15vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:1.6vw; 
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    background-color:rgb(0, 11, 65);
}
#hit,#timer,#score{
    background-color:rgb(0, 11, 65);
padding:12px ;
border-radius: 40%;
color: rgb(253, 253, 253);
font-size: 1.8vw;

}
#timer{
    background-color:rgb(0, 11, 65);
    color: green;}
#panelbottom{
    display: flex;
    background-color: rgb(10, 10, 10);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}
#bubble{
    margin:.8vw;
    padding: 1.7vw;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1vw;
    box-shadow: .05rem .05rem rgba(225, 223, 223, 0.53);
    background-image:linear-gradient(rgb(0, 255, 0), rgb(65, 65, 65));

}
#bubble:hover{
    background-color: black;
    cursor: pointer;
    box-shadow: .05rem .05rem rgb(0, 255, 38);
    background-image:linear-gradient(rgba(255, 255, 0, 0.638), rgba(255, 0, 0, 0.545));
    color: white;
    
  
}
#result{
    color: white;
    background-color: inherit; 
}
button{
    font-size: 1vw;
    width: 6vw;
    padding: 17px;
    background-image: linear-gradient(rgb(20, 20, 20),rgb(51, 51, 51),grey);
    color: rgb(255, 167, 167);
    border: 1px solid gray;
    border-radius: 15px;
    font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
transition: all ease;

}
button:hover{
    background-image: linear-gradient(rgb(33, 33, 33),rgb(51, 51, 51),rgb(104, 103, 103));
    cursor: pointer;
}

@media(max-width:600px){
    #paneltop{
        height:7%;
    }


    #update{
        height: 100%;
        flex-direction: column;
        padding:10px;
        font-size: 13px;
        padding: 5px 0px;
        gap: 0px;
        width: 25%;

    }
    #update p{
        margin-top: 15px;
    }
    #hit,#timer,#score{
        font-size: 14px;
        margin-bottom: 5px;
    }
    button{
        width: 6vh;
        font-size: .7vh;
    }
    #bubble{
        margin:1.3vw;
        padding: 2.332vh;
        font-size: 1.3vh;
        box-shadow:none;
    }
    #bubble:hover{
        
        cursor: pointer;
        background-image:linear-gradient( rgba(204, 0, 0, 0.545));
        color: white;
        
      
    }
}